.header-main{
  display: flex; 
  justify-content: space-between;
  align-items: center;   
  position: relative;
  margin-top: 30px;

}
.header_title{
  
    font-family: Alike, serif;
    font-size: 52px;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    /* line-height: 2em; */
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    margin: 0px;
    font-weight: 600;
    

}
.navbar_project a{
   text-decoration: none;
   color: black;
   font-size: 18px;
   font-weight: bold;
}
#sidebar{
  position: absolute;
  top: 0;
  right: 0;
}
.icon_link{
  display: flex;
  align-items: center;
  
  
}
.cursor{
  cursor: pointer;
}
.icon_link label{
  margin-left: 8px;
}

.header-main div{
    margin-left:30px;
    margin-right:30px;
}
.navbar_project{
  display: flex;
  align-items: center;
  
}
.side-bar-icon{
  display: none;
}

@media only screen and (max-width:710px)
{
  .navbar_project{
    display: none;
   }
  .side-bar-icon{
    display: block;
    cursor: pointer;
  }
  .header_title{
    font-size: 43px;
  }
  .header-main{
    
    margin-top: 20px;
  
  }
     
}

